#prodetails{
    display: flex;
    margin-top: 20px;

}
#prodetails .single-pro-image{
    width: 35%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background-color: rgb(243,181,25);
    color: black;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0px 20px 0px;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details h3{
    color: #8c8c8c;
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
}
.star i{
    font-size: 12px;
    color: rgb(243,181,25);
}
@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    /* proddetails page */
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
}