#Cart{
    overflow-x: auto;
}
#Cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#Cart table img{
    width: 70px;
}
#Cart table td:nth-child(1){
    cursor: pointer;
    width: 100%;
    text-align: center;
}
#Cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#Cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#Cart table td:nth-child(4),
#Cart table td:nth-child(5),
#Cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#Cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#Cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#Cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    font-size: 13px;
    padding: 18px 0px;
}
#Cart table tbody tr td{
    padding-top: 15px;
}
#Cart table tbody td{
    font-size: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    color: black;
    background-color: rgb(243,181,25);
    padding: 12px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #cart-add{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }
}
