#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    height: 200px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1px;
    border-radius: 4px;
    color: aliceblue;
    background-color: rgb(26, 160, 197);
    height: 20px;
    display: inline-block;
}
.featureimgs{
    border-radius: 40px;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
}
@media (max-width: 799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
}
@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        width: 155px;
        margin: 5px 5px;;
    }
}